.project {
  padding-block-start: 40px;
  padding-block-end: 40px;
  gap: 16px;
}

.project-img img {
  max-inline-size: 100%;
}

.project-img {
  text-align: center;
}

.project-description {
  display: flex;
  flex-direction: column;
  gap: 16px;
  order: 2;
}

@media screen and (min-width: 768px) {
  .project {
    display: flex;
    align-items: center;
    padding-block-start: 80px;
    padding-block-end: 80px;
    gap: 32px;
  }

  .project-description {
    flex: 1;
  }

  .project-img {
     flex: 1;
     text-align: center;
  }

  .project:nth-child(odd) .project-img {
    order: 2;
  }

  .project:nth-child(odd) .project-description {
    order: 1;
  }

}